# SQL LITE
DATABASE_URL=jdbc:sqlite:file:management-api?mode=memory&cache=shared
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_DRIVER=org.sqlite.JDBC
DATABASE_DIALECT=org.hibernate.community.dialect.SQLiteDialect
DDL_AUTO=create-drop
DB_POOL_MAX=1
DB_POOL_MIN=0
DB_POOL_CONNECTION_TIMEOUT=30000
DB_POOL_IDLE_TIMEOUT=600000
DB_POOL_MAX_LIFETIME=1800000

CASSANDRA_CONTACT_POINTS=127.0.0.1:9042
CASSANDRA_LOCAL_DATACENTER=datacenter1
CASSANDRA_KEYSPACE=device_management

MQTT_BROKER_URL=mqtt://127.0.0.1:1883
MQTT_TELEMETRY_TOPIC=gedung-solu/monitoring/lantai-1/devices/+/telemetry

# POSTGRESQL
# DATABASE_URL=jdbc:postgresql://localhost:5432/device_db
# DATABASE_USERNAME=postgres
# DATABASE_PASSWORD=your_password
# DATABASE_DRIVER=org.postgresql.Driver
# DATABASE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
# DDL_AUTO=update
# DB_POOL_MAX=10
# DB_POOL_MIN=0
# DB_POOL_CONNECTION_TIMEOUT=30000
# DB_POOL_IDLE_TIMEOUT=600000
# DB_POOL_MAX_LIFETIME=1800000
# CASSANDRA_CONTACT_POINTS=127.0.0.1:9042
# CASSANDRA_LOCAL_DATACENTER=datacenter1
# CASSANDRA_KEYSPACE=device_management
