# SQL LITE
DATABASE_URL=jdbc:sqlite:file:management-api?mode=memory&cache=shared
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_DRIVER=org.sqlite.JDBC
DATABASE_DIALECT=org.hibernate.community.dialect.SQLiteDialect
DDL_AUTO=create-drop


# POSTGRESQL
# DATABASE_URL=jdbc:postgresql://localhost:5432/device_db
# DATABASE_USERNAME=postgres
# DATABASE_PASSWORD=your_password
# DATABASE_DRIVER=org.postgresql.Driver
# DATABASE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
# DDL_AUTO=update
